<%-include('../../partials/admin/head.ejs')%>
<body>
    <%-include('../../partials/admin/header.ejs')%>
<section id="mid">
    <div class="container">
        <div class="row">
            <%-include('../../partials/admin/left.ejs')%>
            
            <div class="col-md-9">
                <h3 style="text-align: center;">UPDATE TESTIMONIAL </h3>
                <form action="" method="post" enctype="multipart/form-data">
                <label for="">Name</label><input type="text" name="name" id="" value="<%=data.name%>"  class="form-control">
                <label for="">Email</label><input type="email" name="email" id=""value="<%=data.email%>" class="form-control">
                <img src="../../upload/<%=data.img%> " alt="" style="width: 80px;">
                <label for="">Image</label><input type="file" name="img" id=""class="form-control">
                <label for="">Testimonial</label><textarea name="test" id="" class="form-control"><%=data.testimonials%></textarea>
                <button type="submit" class="btn btn-success form-control mt-4">UPDATE</button>
            </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>